include CHANGELOG.rst
include LICENSE
include pyproject.toml
include README.rst
include setup.cfg
include src/hypercorn/py.typed
recursive-include artwork *
recursive-include src/hypercorn *.py
recursive-include tests *.py
recursive-include tests *.toml
recursive-include tests *.pem
recursive-exclude compliance *
recursive-exclude docs *
exclude .gitlab-ci.yml
exclude compliance
exclude docs
